<div class="m-3">
  <h2>Stupid Coaching</h2>
  <p><%=@question%></p>
  <p>You</p>
  <div class="p-3 mb-1 bg-warning p-2 text-dark bg-opacity-10">
    <p><%=@answer%></p>
    <p>- Your coach</p>
  </div>
  <%= link_to "Ask a new question", ask_path %>
</div>
