<div class="container mt-3">
<h2 class="mb-3">Stupid Coaching</h2>
<p class="mb-1">Ask your coach anything:</p>
<div class="input-group mb-3">
  <form action="/answer" method="get">
    <input type="text" name="question" placeholder="">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
</div>
